<a href="https://colab.research.google.com/github/abdulhamidll/Data-Science/blob/main/cut_va_qcut_yordamida_guruhlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population.csv", usecols=['country', 'pop2021', 'area'], index_col='country')
df.head()

            pop2021  area
country
Macau       658.394    30
Monaco       39.511     2
Singapore  5896.686   710
Hong Kong  7552.810  1104
Gibraltar    33.698     6

In [4]:
df.loc['Uzbekistan']

pop2021     33935.763
area       447400.000
Name: Uzbekistan, dtype: float64

In [5]:
bins = [0, 1000, 10000, 30000, 50000, 100000, 300000, 1500000]

In [6]:
population = df.pop2021

In [7]:
population

country
Macau                658.394
Monaco                39.511
Singapore           5896.686
Hong Kong           7552.810
Gibraltar             33.698
                      ...
Namibia             2587.344
Western Sahara       611.875
Mongolia            3329.289
Falkland Islands       3.533
Greenland             56.877
Name: pop2021, Length: 232, dtype: float64

In [8]:
guruh = pd.cut(population, bins)
guruh

country
Macau                   (0, 1000]
Monaco                  (0, 1000]
Singapore           (1000, 10000]
Hong Kong           (1000, 10000]
Gibraltar               (0, 1000]
                        ...
Namibia             (1000, 10000]
Western Sahara          (0, 1000]
Mongolia            (1000, 10000]
Falkland Islands        (0, 1000]
Greenland               (0, 1000]
Name: pop2021, Length: 232, dtype: category
Categories (7, interval[int64, right]): [(0, 1000] < (1000, 10000] < (10000, 30000] <
                                         (30000, 50000] < (50000, 100000] < (100000, 300000] <
                                         (300000, 1500000]]

In [9]:
guruh.value_counts()

(0, 1000]            72
(1000, 10000]        68
(10000, 30000]       44
(30000, 50000]       19
(50000, 100000]      15
(100000, 300000]     11
(300000, 1500000]     3
Name: pop2021, dtype: int64

In [10]:
df['guruh'] = guruh
df

                   pop2021     area          guruh
country
Macau              658.394       30      (0, 1000]
Monaco              39.511        2      (0, 1000]
Singapore         5896.686      710  (1000, 10000]
Hong Kong         7552.810     1104  (1000, 10000]
Gibraltar           33.698        6      (0, 1000]
...                    ...      ...            ...
Namibia           2587.344   825615  (1000, 10000]
Western Sahara     611.875   266000      (0, 1000]
Mongolia          3329.289  1564110  (1000, 10000]
Falkland Islands     3.533    12173      (0, 1000]
Greenland           56.877  2166086      (0, 1000]

[232 rows x 3 columns]

In [12]:
df2 = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/automobile_data.csv", index_col=0)
df2

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [14]:
df2.price.describe()

count       58.000000
mean     15387.000000
std      11320.259841
min       5151.000000
25%       6808.500000
50%      11095.000000
75%      18120.500000
max      45400.000000
Name: price, dtype: float64

In [15]:
bins = [0, 10000, 20000, 50000]
range = pd.cut(df2.price, bins)
range

index
0     (10000, 20000]
1     (10000, 20000]
2     (10000, 20000]
3     (10000, 20000]
4     (10000, 20000]
           ...
81        (0, 10000]
82        (0, 10000]
86        (0, 10000]
87    (10000, 20000]
88    (10000, 20000]
Name: price, Length: 61, dtype: category
Categories (3, interval[int64, right]): [(0, 10000] < (10000, 20000] < (20000, 50000]]

In [16]:
range.value_counts()

(0, 10000]        28
(10000, 20000]    17
(20000, 50000]    13
Name: price, dtype: int64

In [19]:
names = ['arzon', 'orta', 'qimmat']
range = pd.cut(df2.price, bins, labels=names)
range.value_counts()

arzon     28
orta      17
qimmat    13
Name: price, dtype: int64

In [22]:
range = pd.cut(df2.price, 5)
range.value_counts()

(5110.751, 13200.8]    32
(13200.8, 21250.6]     14
(29300.4, 37350.2]      7
(37350.2, 45400.0]      3
(21250.6, 29300.4]      2
Name: price, dtype: int64

In [24]:
range = pd.qcut(df2.price, 3)
range.value_counts()

(5150.999, 7295.0]    20
(7295.0, 16430.0]     19
(16430.0, 45400.0]    19
Name: price, dtype: int64