<a href="https://colab.research.google.com/github/abdulhamidll/Data-Science/blob/main/dataframe_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = {
    "Yil": [2021, 2019, 2020, 2012, 2011, 2013],
    "Aholi soni": [33.2, 32.4, 32, 27.5, 26.9, 29.1],
    "Temp": [1.54, 1.45, 1.56, 1.87, 1.23, 1.65]
}

In [4]:
df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp
0  2021        33.2  1.54
1  2019        32.4  1.45
2  2020        32.0  1.56
3  2012        27.5  1.87
4  2011        26.9  1.23
5  2013        29.1  1.65

In [5]:
df.head(3)

    Yil  Aholi soni  Temp
0  2021        33.2  1.54
1  2019        32.4  1.45
2  2020        32.0  1.56

In [7]:
df.shape

(6, 3)

In [8]:
df = pd.DataFrame(data, columns=['Yil', 'Temp', 'Aholi soni'])
df

    Yil  Temp  Aholi soni
0  2021  1.54        33.2
1  2019  1.45        32.4
2  2020  1.56        32.0
3  2012  1.87        27.5
4  2011  1.23        26.9
5  2013  1.65        29.1

In [11]:
df = pd.DataFrame(data, columns=['Yil', 'Temp', 'Aholi soni', 'Yillik tugulishlar soni'], index=["bir", 45, 56, 67, 12, "sakkiz"])
df

         Yil  Temp  Aholi soni Yillik tugulishlar soni
bir     2021  1.54        33.2                     NaN
45      2019  1.45        32.4                     NaN
56      2020  1.56        32.0                     NaN
67      2012  1.87        27.5                     NaN
12      2011  1.23        26.9                     NaN
sakkiz  2013  1.65        29.1                     NaN

In [12]:
df['Yil']

bir       2021
45        2019
56        2020
67        2012
12        2011
sakkiz    2013
Name: Yil, dtype: int64

In [13]:
yil_ustuni = df['Yil']

In [15]:
yil_ustuni

bir       2021
45        2019
56        2020
67        2012
12        2011
sakkiz    2013
Name: Yil, dtype: int64

In [16]:
type(yil_ustuni)

pandas.core.series.Series

In [17]:
df.Temp

bir       1.54
45        1.45
56        1.56
67        1.87
12        1.23
sakkiz    1.65
Name: Temp, dtype: float64

In [18]:
df['Yillik tugulishlar soni'] = 0
df

         Yil  Temp  Aholi soni  Yillik tugulishlar soni
bir     2021  1.54        33.2                        0
45      2019  1.45        32.4                        0
56      2020  1.56        32.0                        0
67      2012  1.87        27.5                        0
12      2011  1.23        26.9                        0
sakkiz  2013  1.65        29.1                        0

In [19]:
val = pd.Series([1000, 2000, 2350], index=['bir', 45, 12])
df['Yillik tugulishlar soni'] = val
df

         Yil  Temp  Aholi soni  Yillik tugulishlar soni
bir     2021  1.54        33.2                   1000.0
45      2019  1.45        32.4                   2000.0
56      2020  1.56        32.0                      NaN
67      2012  1.87        27.5                      NaN
12      2011  1.23        26.9                   2350.0
sakkiz  2013  1.65        29.1                      NaN

In [20]:
val = [324, 2356, 6768, 789, 987, 321]
df['Yillik tugulishlar soni'] = val
df

         Yil  Temp  Aholi soni  Yillik tugulishlar soni
bir     2021  1.54        33.2                      324
45      2019  1.45        32.4                     2356
56      2020  1.56        32.0                     6768
67      2012  1.87        27.5                      789
12      2011  1.23        26.9                      987
sakkiz  2013  1.65        29.1                      321

In [21]:
df['1000+'] = df['Yillik tugulishlar soni'] > 1000
df

         Yil  Temp  Aholi soni  Yillik tugulishlar soni  1000+
bir     2021  1.54        33.2                      324  False
45      2019  1.45        32.4                     2356   True
56      2020  1.56        32.0                     6768   True
67      2012  1.87        27.5                      789  False
12      2011  1.23        26.9                      987  False
sakkiz  2013  1.65        29.1                      321  False

In [22]:
del df['Aholi soni']
df

         Yil  Temp  Yillik tugulishlar soni  1000+
bir     2021  1.54                      324  False
45      2019  1.45                     2356   True
56      2020  1.56                     6768   True
67      2012  1.87                      789  False
12      2011  1.23                      987  False
sakkiz  2013  1.65                      321  False

In [23]:
data = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}

In [24]:
df2 = pd.DataFrame(data)
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [25]:
df2.index.name = "Yil"
df2

      Uzbekistan  Kazakhstan
Yil
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [26]:
df2 = pd.DataFrame(data, index=[2021, 2017, 2020])
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2017        31.9        18.1
2020        33.5        18.7

In [27]:
df2.T

            2021  2017  2020
Uzbekistan  33.9  31.9  33.5
Kazakhstan  18.9  18.1  18.7

In [28]:
df2.values

array([[33.9, 18.9],
       [31.9, 18.1],
       [33.5, 18.7]])

In [30]:
arr = df2.values
type(arr)

numpy.ndarray