<a href="https://colab.research.google.com/github/abdulhamidll/Data-Science/blob/main/dataframe_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = {
    "Yil": [2021, 2019, 2020, 2012, 2011, 2013],
    "Aholi soni": [33.2, 32.4, 32, 27.5, 26.9, 29.1],
    "Temp": [1.54, 1.45, 1.56, 1.87, 1.23, 1.65]
}

In [4]:
df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp
0  2021        33.2  1.54
1  2019        32.4  1.45
2  2020        32.0  1.56
3  2012        27.5  1.87
4  2011        26.9  1.23
5  2013        29.1  1.65

In [5]:
df.head(3)

    Yil  Aholi soni  Temp
0  2021        33.2  1.54
1  2019        32.4  1.45
2  2020        32.0  1.56

In [7]:
df.shape

(6, 3)