<a href="https://colab.research.google.com/github/abdulhamidll/Data-Science/blob/main/DS_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [4]:
username = {"anvar": "anvar12", "ali": "alijon87", "bekorqul": "bekorqul56", "xolid": "xolibek"}
email = {"anvar": "anvar@gmail.com", "ali": "ali@gmail.com", "bekorqul": "bekorqul@gmail.com", "xolid": "xolid@gmail.com"}
data = {
    "username": username,
    "email": email
}
df = pd.DataFrame(data)
df

            username               email
anvar        anvar12     anvar@gmail.com
ali         alijon87       ali@gmail.com
bekorqul  bekorqul56  bekorqul@gmail.com
xolid        xolibek     xolid@gmail.com

In [5]:
df.index

Index(['anvar', 'ali', 'bekorqul', 'xolid'], dtype='object')

In [10]:
data2 = {
    "username": {"olim":"olimxxx", "ali": "alijon1287"},
    "email": {"olim":"olim@gmail.com", "ali": "ali12@gmail.com"}
}
df2 = df.append(pd.DataFrame(data2))
df2

            username               email
anvar        anvar12     anvar@gmail.com
ali         alijon87       ali@gmail.com
bekorqul  bekorqul56  bekorqul@gmail.com
xolid        xolibek     xolid@gmail.com
olim         olimxxx      olim@gmail.com
ali       alijon1287     ali12@gmail.com

In [11]:
newind = pd.Index(['anvar', 'maftuna', 'lobar'])
newind

Index(['anvar', 'maftuna', 'lobar'], dtype='object')

In [12]:
newind.isin(df2.index)

array([ True, False, False])

In [14]:
df2.index.difference(newind)

Index(['ali', 'bekorqul', 'olim', 'xolid'], dtype='object')

In [15]:
newind.difference(df2.index)

Index(['lobar', 'maftuna'], dtype='object')

In [16]:
df2.index.union(newind)

Index(['ali', 'ali', 'anvar', 'bekorqul', 'lobar', 'maftuna', 'olim', 'xolid'], dtype='object')

In [17]:
df2.index

Index(['anvar', 'ali', 'bekorqul', 'xolid', 'olim', 'ali'], dtype='object')

In [18]:
df2.index.delete(0)

Index(['ali', 'bekorqul', 'xolid', 'olim', 'ali'], dtype='object')

In [19]:
newind

Index(['anvar', 'maftuna', 'lobar'], dtype='object')

In [20]:
newind.drop("maftuna")

Index(['anvar', 'lobar'], dtype='object')