<a href="https://colab.research.google.com/github/abdulhamidll/Data-Science/blob/main/irarxik_indeksli_malumotlar_toplami.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.Series(np.random.randn(9), index = ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'])
data

a   -1.492570
a   -0.769890
a    1.207061
b    1.368424
b    0.757923
c    0.195355
c    0.732355
d    0.572228
d   -0.054609
dtype: float64

In [4]:
data1 = pd.Series(np.random.randn(9), index = [['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data1

a  1    0.281954
   2   -0.586997
   3   -0.537054
b  1   -0.376171
   3    1.201185
c  1    0.442530
   2   -0.734118
d  2    2.072532
   3    1.354698
dtype: float64

In [5]:
data1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [6]:
data1['a'] # subsetlari bilan ajratib olish

1    0.281954
2   -0.586997
3   -0.537054
dtype: float64

In [7]:
data1['c': 'd']

c  1    0.442530
   2   -0.734118
d  2    2.072532
   3    1.354698
dtype: float64

In [8]:
data1.loc[:, 2]

a   -0.586997
c   -0.734118
d    2.072532
dtype: float64

In [9]:
data1.loc[['b', 'd']]

b  1   -0.376171
   3    1.201185
d  2    2.072532
   3    1.354698
dtype: float64

In [10]:
data1

a  1    0.281954
   2   -0.586997
   3   -0.537054
b  1   -0.376171
   3    1.201185
c  1    0.442530
   2   -0.734118
d  2    2.072532
   3    1.354698
dtype: float64

In [12]:
data2 = data1.unstack()# sochilgan seriesni df korinishida qaytaradi
data2

          1         2         3
a  0.281954 -0.586997 -0.537054
b -0.376171       NaN  1.201185
c  0.442530 -0.734118       NaN
d       NaN  2.072532  1.354698

In [13]:
data2.stack()# dfni seriesga o'girib beradi

a  1    0.281954
   2   -0.586997
   3   -0.537054
b  1   -0.376171
   3    1.201185
c  1    0.442530
   2   -0.734118
d  2    2.072532
   3    1.354698
dtype: float64