<a href="https://colab.research.google.com/github/abdulhamidll/Data-Science/blob/main/jadvaldan_tasodifiy_qiymatlarni_olish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/MOCK_USER_DATA.csv", index_col=0)
df.head()

   first_name   last_name                           email       gender   age
id
1     Dorothy     Verryan               dverryan0@who.int   Non-binary     1
2     Pietrek     Scanlin          pscanlin1@yolasite.com         Male    91
3      Lilith    Sarjeant  lsarjeant2@creativecommons.org  Genderfluid  1233
4        Knox  Cunningham    kcunningham3@yellowpages.com  Genderfluid     6
5    Mohammed  Habbershon    mhabbershon4@sourceforge.net       Female    48

In [2]:
len(df)

100

In [3]:
randlist = np.random.permutation(100)
randlist

array([79, 27, 84,  4, 10,  2, 30, 55, 38, 44,  9, 45, 42, 37, 71, 19, 73,
       97,  7, 81, 52, 22, 40, 65, 43, 93, 82, 35,  8,  5, 90, 11, 34, 58,
       24, 36, 31, 17, 98, 63, 77, 87, 95, 51, 60, 64, 33, 66, 39, 70, 53,
       29,  0, 96, 20, 86, 91, 92, 72, 23, 80, 21, 26,  6, 61, 67, 28, 12,
       78,  3, 83, 32, 41, 15, 85, 16, 56, 49, 89, 94, 88, 74, 75, 62, 99,
        1, 69, 68, 59, 25, 54, 76, 13, 14, 18, 48, 46, 57, 47, 50])

In [4]:
df.take(randlist)

   first_name   last_name                         email       gender   age
id
80      Gabie      Rothon            grothon27@ehow.com  Genderqueer  4444
28    Philipa        Dron          pdronr@people.com.cn  Genderqueer    52
85       Dido      Megany          dmegany2c@unesco.org   Non-binary    65
5    Mohammed  Habbershon  mhabbershon4@sourceforge.net       Female    48
11     Elijah       Heine              eheinea@imdb.com     Bigender   -85
..        ...         ...                           ...          ...   ...
49      Trace    Stockney        tstockney1c@flavors.me       Female   344
47      Cleve   Sparshatt    csparshatt1a@economist.com  Genderfluid   333
58     Brynna      Worsom              bworsom1l@wp.com         Male    66
48  Sutherlan      Duigan             sduigan1b@ask.com   Non-binary    27
51  Gwendolin     Kennion  gkennion1e@independent.co.uk     Bigender    83

[100 rows x 5 columns]

In [5]:
df.sample(10)

    first_name last_name                     email      gender  age
id
1      Dorothy   Verryan         dverryan0@who.int  Non-binary    1
50  Bartolomeo   Heffron   bheffron1d@bluehost.com     Agender    9
83       Randy  Bauldrey      rbauldrey2a@jugem.jp    Bigender   81
2      Pietrek   Scanlin    pscanlin1@yolasite.com        Male   91
67      Bunnie    Ozanne  bozanne1u@whitehouse.gov        Male   92
62      Kennan     Visco      kvisco1p@jiathis.com      Female   94
33    Ebenezer   Greeves     egreevesw@myspace.com        Male  -26
54     Gregory     Criag   gcriag1h@purevolume.com  Polygender   50
58      Brynna    Worsom          bworsom1l@wp.com        Male   66
35     Deeanne  Iamittii      diamittiiy@nifty.com    Bigender   39