<a href="https://colab.research.google.com/github/abdulhamidll/Data-Science/blob/main/malumotlar_toplamlarini_uygunlashtirish_usullari_sodda_misol_korinishida.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
A = pd.DataFrame({"Transport": ['Poyezd', 'Avtomobile', 'Kema'],
                  "Tezligi": [70, 180, 45]})
A

    Transport  Tezligi
0      Poyezd       70
1  Avtomobile      180
2        Kema       45

In [4]:
B = pd.DataFrame({"Transport": ['Poyezd', 'Avtomobile', 'Tramvay'],
                  "Narxi": [98000, 10000, 65000]})
B

    Transport  Narxi
0      Poyezd  98000
1  Avtomobile  10000
2     Tramvay  65000

In [5]:
merged = pd.merge(A, B)# inner join - ichki birlashish

In [6]:
merged

    Transport  Tezligi  Narxi
0      Poyezd       70  98000
1  Avtomobile      180  10000

In [7]:
merged_outer = pd.merge(A, B, how='outer') # outer join - tashqi birlashish
merged_outer

    Transport  Tezligi    Narxi
0      Poyezd     70.0  98000.0
1  Avtomobile    180.0  10000.0
2        Kema     45.0      NaN
3     Tramvay      NaN  65000.0

In [8]:
merged_left = pd.merge(A, B, how='left') # left join
merged_left

    Transport  Tezligi    Narxi
0      Poyezd       70  98000.0
1  Avtomobile      180  10000.0
2        Kema       45      NaN

In [10]:
merged_right = pd.merge(A, B, how='right')# right join
merged_right

    Transport  Tezligi  Narxi
0      Poyezd     70.0  98000
1  Avtomobile    180.0  10000
2     Tramvay      NaN  65000

In [11]:
A = pd.DataFrame({"Transport_turi": ['Poyezd', 'Avtomobile', 'Kema'],
                  "Tezligi": [70, 180, 45]})
A

  Transport_turi  Tezligi
0         Poyezd       70
1     Avtomobile      180
2           Kema       45

In [12]:
B

    Transport  Narxi
0      Poyezd  98000
1  Avtomobile  10000
2     Tramvay  65000

In [15]:
merged_2 = pd.merge(A, B, left_on='Transport_turi', right_on='Transport')
merged_2

  Transport_turi  Tezligi   Transport  Narxi
0         Poyezd       70      Poyezd  98000
1     Avtomobile      180  Avtomobile  10000

In [16]:
A = A.set_index("Transport_turi")
A

                Tezligi
Transport_turi
Poyezd               70
Avtomobile          180
Kema                 45

In [17]:
B

    Transport  Narxi
0      Poyezd  98000
1  Avtomobile  10000
2     Tramvay  65000

In [19]:
merged_3 = pd.merge(A, B, left_index=True, right_on='Transport')
merged_3

   Tezligi   Transport  Narxi
0       70      Poyezd  98000
1      180  Avtomobile  10000

In [20]:
B = B.set_index("Transport")
B

            Narxi
Transport
Poyezd      98000
Avtomobile  10000
Tramvay     65000

In [21]:
merged_4 = pd.merge(A, B, left_index=True, right_index=True)
merged_4

            Tezligi  Narxi
Poyezd           70  98000
Avtomobile      180  10000