<a href="https://colab.research.google.com/github/abdulhamidll/Data-Science/blob/main/Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

uz = {2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9, 2016:31.4, 2015:30.9}
kz = {2020:18.8, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8, 2015:17.0}
tj = {2020:9.5, 2019:9.3, 2018:9.1, 2017:8.9, 2016:8.7, 2015:8.5}
kg = {2020:6.5, 2019:6.4, 2018:6.3, 2017:6.2, 2016:6.1, 2015:6.8}
tr = {2020:6.0, 2019:5.9, 2018:5.9, 2017:5.8, 2016:5.6, 2015:5.6}
df = pd.DataFrame({'Uzbekistan':uz, 
                   'Kazakhstan':kz, 
                   'Tajikistan':tj, 
                   'Kyrgizstan':kg, 
                   'Turkmenistan':tr,
                    })
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.0         8.5         6.8           5.6

In [6]:
df['Uzbekistan'].to_numpy()

array([33.5, 32.9, 32.5, 31.9, 31.4, 30.9])

In [5]:
df[['Uzbekistan']]

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5
2017        31.9
2016        31.4
2015        30.9

In [8]:
df[3:]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.0         8.5         6.8           5.6

In [10]:
df[df>10]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         NaN         NaN           NaN
2019        32.9        18.5         NaN         NaN           NaN
2018        32.5        18.3         NaN         NaN           NaN
2017        31.9        18.1         NaN         NaN           NaN
2016        31.4        17.8         NaN         NaN           NaN
2015        30.9        17.0         NaN         NaN           NaN

In [11]:
df_uz = df[['Uzbekistan']]
df_uz

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5
2017        31.9
2016        31.4
2015        30.9

In [14]:
df_uz[df_uz>32]

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5
2017         NaN
2016         NaN
2015         NaN

In [16]:
df_uz[df["Uzbekistan"]>32]

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5

In [17]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.0         8.5         6.8           5.6

In [18]:
df2 = df.transpose(copy=True)
df2

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.0
Tajikistan     9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan     6.5   6.4   6.3   6.2   6.1   6.8
Turkmenistan   6.0   5.9   5.9   5.8   5.6   5.6

In [20]:
df2[df2[2015]>6]

            2020  2019  2018  2017  2016  2015
Uzbekistan  33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan  18.8  18.5  18.3  18.1  17.8  17.0
Tajikistan   9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan   6.5   6.4   6.3   6.2   6.1   6.8