<a href="https://colab.research.google.com/github/abdulhamidll/Data-Science/blob/main/Pandas_elementlarni_tanlash_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
data = {
    "Yil": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
    "Aholi soni": [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
    "Temp": [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
    "Zichlik": [79.77, 78.68, 77.53, 76.34, 75.13, 73.91, 72.71, 67.03]
      }
df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.34
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    73.91
6  2015        30.9  1.64    72.71
7  2010        28.5  1.53    67.03

In [5]:
data = df['Aholi soni']
data

0    33.9
1    33.5
2    32.9
3    32.5
4    31.9
5    31.4
6    30.9
7    28.5
Name: Aholi soni, dtype: float64

In [4]:
data = df[['Aholi soni']]
data

   Aholi soni
0        33.9
1        33.5
2        32.9
3        32.5
4        31.9
5        31.4
6        30.9
7        28.5

In [6]:
type(data)

pandas.core.series.Series

In [11]:
data[data>30]

0    33.9
1    33.5
2    32.9
3    32.5
4    31.9
5    31.4
6    30.9
Name: Aholi soni, dtype: float64