<a href="https://colab.research.google.com/github/abdulhamidll/Data-Science/blob/main/Series_DataFrame_Arifmetik_amallar_davomi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(3, 4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

       Olma      Anor     Qovun     Anjir
a  0.927119  0.913939  1.270391 -0.920983
b -1.121997 -0.520407 -0.491150  1.006012
c -1.478559  0.420898 -0.637207  0.511881

In [7]:
np.abs(-5)

5

In [9]:
np.abs(df)

       Olma      Anor     Qovun     Anjir
a  0.927119  0.913939  1.270391  0.920983
b  1.121997  0.520407  0.491150  1.006012
c  1.478559  0.420898  0.637207  0.511881

In [10]:
np.round(df)

   Olma  Anor  Qovun  Anjir
a   1.0   1.0    1.0   -1.0
b  -1.0  -1.0   -0.0    1.0
c  -1.0   0.0   -1.0    1.0

In [11]:
df.mean()

Olma    -0.557812
Anor     0.271477
Qovun    0.047345
Anjir    0.198970
dtype: float64

In [12]:
df.mean(axis=1)

a    0.547617
b   -0.281885
c   -0.295747
dtype: float64

In [13]:
df.apply(sum)

Olma    -1.673436
Anor     0.814430
Qovun    0.142034
Anjir    0.596910
dtype: float64

In [14]:
df.apply(sum, axis=1)

a    2.190467
b   -1.127542
c   -1.182987
dtype: float64

In [15]:
f = lambda x: x.max() - x.min()

In [16]:
df.apply(f)

Olma     2.405678
Anor     1.434347
Qovun    1.907599
Anjir    1.926996
dtype: float64

In [19]:
def foo(x):
  return pd.Series([x.min(), x.max()], index = ['min', 'max'])

In [21]:
df.apply(foo)

         Olma      Anor     Qovun     Anjir
min -1.478559 -0.520407 -0.637207 -0.920983
max  0.927119  0.913939  1.270391  1.006012

In [24]:
df = pd.DataFrame(np.arange(1, 13).reshape(3, 4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

   Olma  Anor  Qovun  Anjir
a     1     2      3      4
b     5     6      7      8
c     9    10     11     12

In [25]:
df.applymap(lambda x: x * x)

   Olma  Anor  Qovun  Anjir
a     1     4      9     16
b    25    36     49     64
c    81   100    121    144