<a href="https://colab.research.google.com/github/abdulhamidll/Data-Science/blob/main/Series_DataFrame_Arifmetik_amallar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [4]:
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [5]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [6]:
s1 + s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [8]:
df1 = pd.DataFrame(np.arange(9.).reshape(3,3), columns=list('bcd'), index=['Olma','Anor','Uzum'])
df2 = pd.DataFrame(np.arange(12.).reshape(4,3), columns=list('abc'), index=['Olma','Anor','Qovun','Anjir'])

In [9]:
df1

        b    c    d
Olma  0.0  1.0  2.0
Anor  3.0  4.0  5.0
Uzum  6.0  7.0  8.0

In [10]:
df2

         a     b     c
Olma   0.0   1.0   2.0
Anor   3.0   4.0   5.0
Qovun  6.0   7.0   8.0
Anjir  9.0  10.0  11.0

In [11]:
df1 + df2

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN  7.0  9.0 NaN
Olma  NaN  1.0  3.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN

In [12]:
from pandas.core.internals.construction import fill_masked_arrays
df1.add(df2, fill_value=0)

         a     b     c    d
Anjir  9.0  10.0  11.0  NaN
Anor   3.0   7.0   9.0  5.0
Olma   0.0   1.0   3.0  2.0
Qovun  6.0   7.0   8.0  NaN
Uzum   NaN   6.0   7.0  8.0

In [13]:
df1.sub(df2)

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN -1.0 -1.0 NaN
Olma  NaN -1.0 -1.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN

In [14]:
df1.rsub(df2, fill_value=0)

         a     b     c    d
Anjir  9.0  10.0  11.0  NaN
Anor   3.0   1.0   1.0 -5.0
Olma   0.0   1.0   1.0 -2.0
Qovun  6.0   7.0   8.0  NaN
Uzum   NaN  -6.0  -7.0 -8.0

In [16]:
df2.div(df1)

        a         b     c   d
Anjir NaN       NaN   NaN NaN
Anor  NaN  1.333333  1.25 NaN
Olma  NaN       inf  2.00 NaN
Qovun NaN       NaN   NaN NaN
Uzum  NaN       NaN   NaN NaN

In [17]:
df2.rdiv(df1)

        a     b    c   d
Anjir NaN   NaN  NaN NaN
Anor  NaN  0.75  0.8 NaN
Olma  NaN  0.00  0.5 NaN
Qovun NaN   NaN  NaN NaN
Uzum  NaN   NaN  NaN NaN

In [18]:
df = pd.DataFrame(np.arange(1,13.).reshape(3,4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

   Olma  Anor  Qovun  Anjir
a   1.0   2.0    3.0    4.0
b   5.0   6.0    7.0    8.0
c   9.0  10.0   11.0   12.0

In [19]:
obj = pd.Series([1,1,2,2], index=df.columns)
obj

Olma     1
Anor     1
Qovun    2
Anjir    2
dtype: int64

In [20]:
df + obj

   Olma  Anor  Qovun  Anjir
a   2.0   3.0    5.0    6.0
b   6.0   7.0    9.0   10.0
c  10.0  11.0   13.0   14.0

In [21]:
obj = pd.Series([2,3,1], index=['Olma','Uzum','Qovun'])
obj

Olma     2
Uzum     3
Qovun    1
dtype: int64

In [22]:
df + obj

   Anjir  Anor  Olma  Qovun  Uzum
a    NaN   NaN   3.0    4.0   NaN
b    NaN   NaN   7.0    8.0   NaN
c    NaN   NaN  11.0   12.0   NaN

In [23]:
df

   Olma  Anor  Qovun  Anjir
a   1.0   2.0    3.0    4.0
b   5.0   6.0    7.0    8.0
c   9.0  10.0   11.0   12.0

In [24]:
obj['Olma']

2

In [25]:
df + obj['Olma']

   Olma  Anor  Qovun  Anjir
a   3.0   4.0    5.0    6.0
b   7.0   8.0    9.0   10.0
c  11.0  12.0   13.0   14.0